@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

div>a:hover{
  color: #C92071;
  text-decoration: underline;
  font-weight: bold;
}

div>a {
  text-decoration: none;
  color: #474747;
}

.menu {
  display: flex;
  gap: 15px;
  font-family: "Inter", sans-serif;
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 15px;
}